.course-hero{

    padding:120px 0;

    text-align:center;

    background:linear-gradient(
        135deg,
        #0B60B0,
        #42A5F5
    );

    color:white;

}

.page-tag{

    letter-spacing:2px;

    font-weight:600;

}

.course-hero h1{

    font-size:3rem;

    margin:20px 0;

}

.course-hero p{

    max-width:700px;

    margin:auto;

    line-height:1.8;

}